.setting-page {
  padding: 0 20px 20px 20px;
  .card-area {
    padding: 10px 20px;
    background-color: var(--rv-gray-3);
    border-radius: var(--rv-border-radius-lg);
    margin-bottom: var(--rv-padding-md);
    transition: all ease 300;
    &:hover {
      background-color: var(--rv-gray-4);
    }
    &.menu-item {
      padding: 20px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &.user-wrapper {
      padding: 40px 20px;
    }
  }
}
.count-wrapper {
  text-align: center;
}
