.tags-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: var(--rv-padding-md);
  column-gap: var(--rv-padding-md);
  text-align: center;
  .tag {
    background-color: var(--rv-gray-3);
    border-radius: var(--rv-border-radius-lg);
    padding: 10px 0;
  }
}
