/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

// 配色生成：https://ionicframework.com/docs/theming/color-generator
:root {
  --ion-color-primary: #3d48d6;
  --ion-color-primary-rgb: 61, 72, 214;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #363fbc;
  --ion-color-primary-tint: #505ada;

  --ion-color-secondary: #7861b8;
  --ion-color-secondary-rgb: 120, 97, 184;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #6a55a2;
  --ion-color-secondary-tint: #8671bf;

  --ion-color-tertiary: #42adff;
  --ion-color-tertiary-rgb: 66, 173, 255;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #3a98e0;
  --ion-color-tertiary-tint: #55b5ff;

  --ion-color-success: #29cd55;
  --ion-color-success-rgb: 41, 205, 85;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #24b44b;
  --ion-color-success-tint: #b7ffca;

  --ion-color-warning: #f9a82f;
  --ion-color-warning-rgb: 249, 168, 47;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #db9429;
  --ion-color-warning-tint: #ffdba6;

  --ion-color-danger: #f95353;
  --ion-color-danger-rgb: 249, 83, 83;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #db4949;
  --ion-color-danger-tint: #fa6464;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  --ion-color-medium: #51458c;
  --ion-color-medium-rgb: 81, 69, 140;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #473d7b;
  --ion-color-medium-tint: #625898;

  --ion-color-dark: #110854;
  --ion-color-dark-rgb: 17, 8, 84;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #0f074a;
  --ion-color-dark-tint: #292165;
  // Component Color
  --ion-tab-bar-color: var(--rv-gray-4);
}

// vant colors
:root:root {
  // Color Palette
  --rv-black: var(--ion-color-dark);
  --rv-white: #fff;
  --rv-gray-1: #f7f8fa;
  --rv-gray-2: #f2f3f5;
  --rv-gray-3: #ebedf0;
  --rv-gray-4: #dcdee0;
  --rv-gray-5: #c8c9cc;
  --rv-gray-6: #969799;
  --rv-gray-7: #646566;
  --rv-gray-8: #323233;
  --rv-red: var(--ion-color-danger);
  --rv-blue: var(--ion-color-primary);
  --rv-orange: var(--ion-color-warning);
  --rv-orange-dark: var(--ion-color-warning-shade);
  --rv-orange-light: var(--ion-color-warning-tint);
  --rv-green: var(--ion-color-success);

  // Gradient Colors
  --rv-gradient-red: linear-gradient(to right, #ff6034, #ee0a24);
  --rv-gradient-orange: linear-gradient(to right, #ffd01e, #ff8917);

  // Component Colors
  --rv-primary-color: var(--rv-blue);
  --rv-success-color: var(--rv-green);
  --rv-danger-color: var(--rv-red);
  --rv-warning-color: var(--rv-orange);
  --rv-text-color: var(--rv-gray-8);
  --rv-active-color: var(--rv-gray-2);
  --rv-active-opacity: 0.7;
  --rv-disabled-opacity: 0.5;
  --rv-background-color: var(--rv-gray-1);
  --rv-background-color-light: var(--ion-color-secondary);
  --rv-text-link-color: var(--ion-color-tertiary);

  // Padding
  --rv-padding-base: 4px;
  --rv-padding-xs: 8px;
  --rv-padding-sm: 12px;
  --rv-padding-md: 16px;
  --rv-padding-lg: 24px;
  --rv-padding-xl: 32px;

  // Font
  --rv-font-size-xs: 10px;
  --rv-font-size-sm: 12px;
  --rv-font-size-md: 14px;
  --rv-font-size-lg: 16px;
  --rv-font-weight-bold: 500;
  --rv-line-height-xs: 14px;
  --rv-line-height-sm: 18px;
  --rv-line-height-md: 20px;
  --rv-line-height-lg: 22px;
  --rv-base-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Segoe UI, Arial, Roboto,
    "PingFang SC", "miui", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  --rv-price-integer-font-family: Avenir-Heavy, PingFang SC, Helvetica Neue, Arial, sans-serif;

  // Animation
  --rv-animation-duration-base: 0.3s;
  --rv-animation-duration-fast: 0.2s;
  --rv-animation-timing-function-enter: ease-out;
  --rv-animation-timing-function-leave: ease-in;

  // Border
  --rv-border-color: var(--rv-gray-3);
  --rv-border-width-base: 1px;
  --rv-border-radius-sm: 2px;
  --rv-border-radius-md: 4px;
  --rv-border-radius-lg: 8px;
  --rv-border-radius-max: 999px;

  // Component
  --rv-button-border-radius: var(--rv-border-radius-lg);
}
