/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

// 配色生成：https://ionicframework.com/docs/theming/color-generator
:root {
  --ion-color-primary: #3d48d6;
  --ion-color-primary-rgb: 61, 72, 214;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #363fbc;
  --ion-color-primary-tint: #505ada;

  --ion-color-secondary: #7861b8;
  --ion-color-secondary-rgb: 120, 97, 184;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #6a55a2;
  --ion-color-secondary-tint: #8671bf;

  --ion-color-tertiary: #42adff;
  --ion-color-tertiary-rgb: 66, 173, 255;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #3a98e0;
  --ion-color-tertiary-tint: #55b5ff;

  --ion-color-success: #29cd55;
  --ion-color-success-rgb: 41, 205, 85;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #24b44b;
  --ion-color-success-tint: #b7ffca;

  --ion-color-warning: #f9a82f;
  --ion-color-warning-rgb: 249, 168, 47;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #db9429;
  --ion-color-warning-tint: #ffdba6;

  --ion-color-danger: #f95353;
  --ion-color-danger-rgb: 249, 83, 83;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #db4949;
  --ion-color-danger-tint: #fa6464;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  --ion-color-medium: #51458c;
  --ion-color-medium-rgb: 81, 69, 140;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #473d7b;
  --ion-color-medium-tint: #625898;

  --ion-color-dark: #110854;
  --ion-color-dark-rgb: 17, 8, 84;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #0f074a;
  --ion-color-dark-tint: #292165;

  --ion-border-radius: 4px;
}
