/* 溢出省略号 */
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.text-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.text-ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* TailWind */
.pointer-events-none {
  pointer-events: none;
}
.pointer-events-auto {
  pointer-events: auto;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.static {
  position: static;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
}
.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.inset-1 {
  top: 0.25em;
  right: 0.25em;
  bottom: 0.25em;
  left: 0.25em;
}
.inset-2 {
  top: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
}
.inset-3 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.inset-4 {
  top: 1em;
  right: 1em;
  bottom: 1em;
  left: 1em;
}
.inset-5 {
  top: 1.25em;
  right: 1.25em;
  bottom: 1.25em;
  left: 1.25em;
}
.inset-6 {
  top: 1.5em;
  right: 1.5em;
  bottom: 1.5em;
  left: 1.5em;
}
.inset-7 {
  top: 1;
  right: 1;
  bottom: 1;
  left: 1;
}
.inset-8 {
  top: 2em;
  right: 2em;
  bottom: 2em;
  left: 2em;
}
.inset-9 {
  top: 2.25em;
  right: 2.25em;
  bottom: 2.25em;
  left: 2.25em;
}
.inset-10 {
  top: 2.5em;
  right: 2.5em;
  bottom: 2.5em;
  left: 2.5em;
}
.inset-11 {
  top: 2;
  right: 2;
  bottom: 2;
  left: 2;
}
.inset-12 {
  top: 3em;
  right: 3em;
  bottom: 3em;
  left: 3em;
}
.inset-14 {
  top: 3.5em;
  right: 3.5em;
  bottom: 3.5em;
  left: 3.5em;
}
.inset-16 {
  top: 4em;
  right: 4em;
  bottom: 4em;
  left: 4em;
}
.inset-auto {
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.inset-px {
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
.inset-0\.5 {
  top: 0.125em;
  right: 0.125em;
  bottom: 0.125em;
  left: 0.125em;
}
.inset-1\.5 {
  top: 0.375em;
  right: 0.375em;
  bottom: 0.375em;
  left: 0.375em;
}
.inset-2\.5 {
  top: 0.625em;
  right: 0.625em;
  bottom: 0.625em;
  left: 0.625em;
}
.inset-3\.5 {
  top: 0.875em;
  right: 0.875em;
  bottom: 0.875em;
  left: 0.875em;
}
.inset-x-0 {
  left: 0px;
  right: 0px;
}
.inset-x-1 {
  left: 0.25em;
  right: 0.25em;
}
.inset-x-2 {
  left: 0.5em;
  right: 0.5em;
}
.inset-x-3 {
  left: 0;
  right: 0;
}
.inset-x-4 {
  left: 1em;
  right: 1em;
}
.inset-x-5 {
  left: 1.25em;
  right: 1.25em;
}
.inset-x-6 {
  left: 1.5em;
  right: 1.5em;
}
.inset-x-7 {
  left: 1;
  right: 1;
}
.inset-x-8 {
  left: 2em;
  right: 2em;
}
.inset-x-9 {
  left: 2.25em;
  right: 2.25em;
}
.inset-x-10 {
  left: 2.5em;
  right: 2.5em;
}
.inset-x-11 {
  left: 2;
  right: 2;
}
.inset-x-12 {
  left: 3em;
  right: 3em;
}
.inset-x-14 {
  left: 3.5em;
  right: 3.5em;
}
.inset-x-16 {
  left: 4em;
  right: 4em;
}
.inset-x-auto {
  left: auto;
  right: auto;
}
.inset-x-px {
  left: 1px;
  right: 1px;
}
.inset-x-0\.5 {
  left: 0.125em;
  right: 0.125em;
}
.inset-x-1\.5 {
  left: 0.375em;
  right: 0.375em;
}
.inset-x-2\.5 {
  left: 0.625em;
  right: 0.625em;
}
.inset-x-3\.5 {
  left: 0.875em;
  right: 0.875em;
}
.inset-x-1\/2 {
  left: 50%;
  right: 50%;
}
.inset-x-1\/3 {
  left: 33.333333%;
  right: 33.333333%;
}
.inset-x-2\/3 {
  left: 66.666667%;
  right: 66.666667%;
}
.inset-x-1\/4 {
  left: 25%;
  right: 25%;
}
.inset-x-2\/4 {
  left: 50%;
  right: 50%;
}
.inset-x-3\/4 {
  left: 75%;
  right: 75%;
}
.inset-x-full {
  left: 100%;
  right: 100%;
}
.inset-y-0 {
  top: 0px;
  bottom: 0px;
}
.inset-y-1 {
  top: 0.25em;
  bottom: 0.25em;
}
.inset-y-2 {
  top: 0.5em;
  bottom: 0.5em;
}
.inset-y-3 {
  top: 0;
  bottom: 0;
}
.inset-y-4 {
  top: 1em;
  bottom: 1em;
}
.inset-y-5 {
  top: 1.25em;
  bottom: 1.25em;
}
.inset-y-6 {
  top: 1.5em;
  bottom: 1.5em;
}
.inset-y-7 {
  top: 1;
  bottom: 1;
}
.inset-y-8 {
  top: 2em;
  bottom: 2em;
}
.inset-y-9 {
  top: 2.25em;
  bottom: 2.25em;
}
.inset-y-10 {
  top: 2.5em;
  bottom: 2.5em;
}
.inset-y-11 {
  top: 2;
  bottom: 2;
}
.inset-y-12 {
  top: 3em;
  bottom: 3em;
}
.inset-y-14 {
  top: 3.5em;
  bottom: 3.5em;
}
.inset-y-16 {
  top: 4em;
  bottom: 4em;
}
.inset-y-auto {
  top: auto;
  bottom: auto;
}
.inset-y-px {
  top: 1px;
  bottom: 1px;
}
.inset-y-0\.5 {
  top: 0.125em;
  bottom: 0.125em;
}
.inset-y-1\.5 {
  top: 0.375em;
  bottom: 0.375em;
}
.inset-y-2\.5 {
  top: 0.625em;
  bottom: 0.625em;
}
.inset-y-3\.5 {
  top: 0.875em;
  bottom: 0.875em;
}
.inset-y-0 {
  top: 0px;
  bottom: 0px;
}
.inset-y-1 {
  top: -0.25em;
  bottom: -0.25em;
}
.inset-y-2 {
  top: -0.5em;
  bottom: -0.5em;
}
.inset-y-3 {
  top: -0;
  bottom: -0;
}
.inset-y-4 {
  top: -1em;
  bottom: -1em;
}
.inset-y-5 {
  top: -1.25em;
  bottom: -1.25em;
}
.inset-y-6 {
  top: -1.5em;
  bottom: -1.5em;
}
.inset-y-7 {
  top: -1;
  bottom: -1;
}
.inset-y-8 {
  top: -2em;
  bottom: -2em;
}
.inset-y-9 {
  top: -2.25em;
  bottom: -2.25em;
}
.inset-y-10 {
  top: -2.5em;
  bottom: -2.5em;
}
.inset-y-11 {
  top: -2;
  bottom: -2;
}
.inset-y-12 {
  top: -3em;
  bottom: -3em;
}
.inset-y-14 {
  top: -3.5em;
  bottom: -3.5em;
}
.inset-y-16 {
  top: -4em;
  bottom: -4em;
}
.inset-y-px {
  top: -1px;
  bottom: -1px;
}
.inset-y-0\.5 {
  top: -0.125em;
  bottom: -0.125em;
}
.inset-y-1\.5 {
  top: -0.375em;
  bottom: -0.375em;
}
.inset-y-2\.5 {
  top: -0.625em;
  bottom: -0.625em;
}
.inset-y-3\.5 {
  top: -0.875em;
  bottom: -0.875em;
}
.inset-y-1\/2 {
  top: 50%;
  bottom: 50%;
}
.inset-y-1\/3 {
  top: 33.333333%;
  bottom: 33.333333%;
}
.inset-y-2\/3 {
  top: 66.666667%;
  bottom: 66.666667%;
}
.inset-y-1\/4 {
  top: 25%;
  bottom: 25%;
}
.inset-y-2\/4 {
  top: 50%;
  bottom: 50%;
}
.inset-y-3\/4 {
  top: 75%;
  bottom: 75%;
}
.inset-y-full {
  top: 100%;
  bottom: 100%;
}
.inset-y-1\/2 {
  top: -50%;
  bottom: -50%;
}
.inset-y-1\/3 {
  top: -33.333333%;
  bottom: -33.333333%;
}
.inset-y-2\/3 {
  top: -66.666667%;
  bottom: -66.666667%;
}
.inset-y-1\/4 {
  top: -25%;
  bottom: -25%;
}
.inset-y-2\/4 {
  top: -50%;
  bottom: -50%;
}
.inset-y-3\/4 {
  top: -75%;
  bottom: -75%;
}
.inset-y-full {
  top: -100%;
  bottom: -100%;
}
.top-0 {
  top: 0px;
}
.top-1 {
  top: 0.25em;
}
.top-2 {
  top: 0.5em;
}
.top-3 {
  top: 0;
}
.top-4 {
  top: 1em;
}
.top-5 {
  top: 1.25em;
}
.top-6 {
  top: 1.5em;
}
.top-7 {
  top: 1;
}
.top-8 {
  top: 2em;
}
.top-9 {
  top: 2.25em;
}
.top-10 {
  top: 2.5em;
}
.top-11 {
  top: 2;
}
.top-12 {
  top: 3em;
}
.top-14 {
  top: 3.5em;
}
.top-16 {
  top: 4em;
}
.top-auto {
  top: auto;
}
.top-px {
  top: 1px;
}
.top-0\.5 {
  top: 0.125em;
}
.top-1\.5 {
  top: 0.375em;
}
.top-2\.5 {
  top: 0.625em;
}
.top-3\.5 {
  top: 0.875em;
}
.top-1\/2 {
  top: 50%;
}
.top-1\/3 {
  top: 33.333333%;
}
.top-2\/3 {
  top: 66.666667%;
}
.top-1\/4 {
  top: 25%;
}
.top-2\/4 {
  top: 50%;
}
.top-3\/4 {
  top: 75%;
}
.top-full {
  top: 100%;
}
.right-0 {
  right: 0px;
}
.right-1 {
  right: 0.25em;
}
.right-2 {
  right: 0.5em;
}
.right-3 {
  right: 0;
}
.right-4 {
  right: 1em;
}
.right-5 {
  right: 1.25em;
}
.right-6 {
  right: 1.5em;
}
.right-7 {
  right: 1;
}
.right-8 {
  right: 2em;
}
.right-9 {
  right: 2.25em;
}
.right-10 {
  right: 2.5em;
}
.right-11 {
  right: 2;
}
.right-12 {
  right: 3em;
}
.right-14 {
  right: 3.5em;
}
.right-16 {
  right: 4em;
}
.right-auto {
  right: auto;
}
.right-px {
  right: 1px;
}
.right-0\.5 {
  right: 0.125em;
}
.right-1\.5 {
  right: 0.375em;
}
.right-2\.5 {
  right: 0.625em;
}
.right-3\.5 {
  right: 0.875em;
}
.bottom-0 {
  bottom: 0px;
}
.bottom-1 {
  bottom: 0.25em;
}
.bottom-2 {
  bottom: 0.5em;
}
.bottom-3 {
  bottom: 0;
}
.bottom-4 {
  bottom: 1em;
}
.bottom-5 {
  bottom: 1.25em;
}
.bottom-6 {
  bottom: 1.5em;
}
.bottom-7 {
  bottom: 1;
}
.bottom-8 {
  bottom: 2em;
}
.bottom-9 {
  bottom: 2.25em;
}
.bottom-10 {
  bottom: 2.5em;
}
.bottom-11 {
  bottom: 2;
}
.bottom-12 {
  bottom: 3em;
}
.bottom-14 {
  bottom: 3.5em;
}
.bottom-16 {
  bottom: 4em;
}
.bottom-auto {
  bottom: auto;
}
.bottom-px {
  bottom: 1px;
}
.bottom-0\.5 {
  bottom: 0.125em;
}
.bottom-1\.5 {
  bottom: 0.375em;
}
.bottom-2\.5 {
  bottom: 0.625em;
}
.bottom-3\.5 {
  bottom: 0.875em;
}
.left-0 {
  left: 0px;
}
.left-1 {
  left: 0.25em;
}
.left-2 {
  left: 0.5em;
}
.left-3 {
  left: 0;
}
.left-4 {
  left: 1em;
}
.left-5 {
  left: 1.25em;
}
.left-6 {
  left: 1.5em;
}
.left-7 {
  left: 1;
}
.left-8 {
  left: 2em;
}
.left-9 {
  left: 2.25em;
}
.left-10 {
  left: 2.5em;
}
.left-11 {
  left: 2;
}
.left-12 {
  left: 3em;
}
.left-14 {
  left: 3.5em;
}
.left-16 {
  left: 4em;
}
.left-auto {
  left: auto;
}
.left-px {
  left: 1px;
}
.left-0\.5 {
  left: 0.125em;
}
.left-1\.5 {
  left: 0.375em;
}
.left-2\.5 {
  left: 0.625em;
}
.left-3\.5 {
  left: 0.875em;
}
.isolate {
  isolation: isolate;
}
.isolation-auto {
  isolation: auto;
}
.z-0 {
  z-index: 0;
}
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.z-30 {
  z-index: 30;
}
.z-40 {
  z-index: 40;
}
.z-50 {
  z-index: 50;
}
.z-auto {
  z-index: auto;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
.order-4 {
  order: 4;
}
.order-5 {
  order: 5;
}
.order-6 {
  order: 6;
}
.order-7 {
  order: 7;
}
.order-8 {
  order: 8;
}
.order-9 {
  order: 9;
}
.order-10 {
  order: 10;
}
.order-11 {
  order: 11;
}
.order-12 {
  order: 12;
}
.order-first {
  order: -9999;
}
.order-last {
  order: 9999;
}
.order-none {
  order: 0;
}
.col-auto {
  grid-column: auto;
}
.col-span-1 {
  grid-column: span 1 / span 1;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.col-span-3 {
  grid-column: span 3 / span 3;
}
.col-span-4 {
  grid-column: span 4 / span 4;
}
.col-span-5 {
  grid-column: span 5 / span 5;
}
.col-span-6 {
  grid-column: span 6 / span 6;
}
.col-span-7 {
  grid-column: span 7 / span 7;
}
.col-span-8 {
  grid-column: span 8 / span 8;
}
.col-span-9 {
  grid-column: span 9 / span 9;
}
.col-span-10 {
  grid-column: span 10 / span 10;
}
.col-span-11 {
  grid-column: span 11 / span 11;
}
.col-span-12 {
  grid-column: span 12 / span 12;
}
.col-span-full {
  grid-column: 1 / -1;
}
.col-start-1 {
  grid-column-start: 1;
}
.col-start-2 {
  grid-column-start: 2;
}
.col-start-3 {
  grid-column-start: 3;
}
.col-start-4 {
  grid-column-start: 4;
}
.col-start-5 {
  grid-column-start: 5;
}
.col-start-6 {
  grid-column-start: 6;
}
.col-start-7 {
  grid-column-start: 7;
}
.col-start-8 {
  grid-column-start: 8;
}
.col-start-9 {
  grid-column-start: 9;
}
.col-start-10 {
  grid-column-start: 10;
}
.col-start-11 {
  grid-column-start: 11;
}
.col-start-12 {
  grid-column-start: 12;
}
.col-start-13 {
  grid-column-start: 13;
}
.col-start-auto {
  grid-column-start: auto;
}
.col-end-1 {
  grid-column-end: 1;
}
.col-end-2 {
  grid-column-end: 2;
}
.col-end-3 {
  grid-column-end: 3;
}
.col-end-4 {
  grid-column-end: 4;
}
.col-end-5 {
  grid-column-end: 5;
}
.col-end-6 {
  grid-column-end: 6;
}
.col-end-7 {
  grid-column-end: 7;
}
.col-end-8 {
  grid-column-end: 8;
}
.col-end-9 {
  grid-column-end: 9;
}
.col-end-10 {
  grid-column-end: 10;
}
.col-end-11 {
  grid-column-end: 11;
}
.col-end-12 {
  grid-column-end: 12;
}
.col-end-13 {
  grid-column-end: 13;
}
.col-end-auto {
  grid-column-end: auto;
}
.row-auto {
  grid-row: auto;
}
.row-span-1 {
  grid-row: span 1 / span 1;
}
.row-span-2 {
  grid-row: span 2 / span 2;
}
.row-span-3 {
  grid-row: span 3 / span 3;
}
.row-span-4 {
  grid-row: span 4 / span 4;
}
.row-span-5 {
  grid-row: span 5 / span 5;
}
.row-span-6 {
  grid-row: span 6 / span 6;
}
.row-span-full {
  grid-row: 1 / -1;
}
.row-start-1 {
  grid-row-start: 1;
}
.row-start-2 {
  grid-row-start: 2;
}
.row-start-3 {
  grid-row-start: 3;
}
.row-start-4 {
  grid-row-start: 4;
}
.row-start-5 {
  grid-row-start: 5;
}
.row-start-6 {
  grid-row-start: 6;
}
.row-start-7 {
  grid-row-start: 7;
}
.row-start-auto {
  grid-row-start: auto;
}
.row-end-1 {
  grid-row-end: 1;
}
.row-end-2 {
  grid-row-end: 2;
}
.row-end-3 {
  grid-row-end: 3;
}
.row-end-4 {
  grid-row-end: 4;
}
.row-end-5 {
  grid-row-end: 5;
}
.row-end-6 {
  grid-row-end: 6;
}
.row-end-7 {
  grid-row-end: 7;
}
.row-end-auto {
  grid-row-end: auto;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.float-none {
  float: none;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
.clear-both {
  clear: both;
}
.clear-none {
  clear: none;
}
.m-0 {
  margin: 0px;
}
.m-1 {
  margin: 0.25em;
}
.m-2 {
  margin: 0.5em;
}
.m-3 {
  margin: 0;
}
.m-4 {
  margin: 1em;
}
.m-5 {
  margin: 1.25em;
}
.m-6 {
  margin: 1.5em;
}
.m-7 {
  margin: 1;
}
.m-8 {
  margin: 2em;
}
.m-9 {
  margin: 2.25em;
}
.m-10 {
  margin: 2.5em;
}
.m-11 {
  margin: 2;
}
.m-12 {
  margin: 3em;
}
.m-14 {
  margin: 3.5em;
}
.m-16 {
  margin: 4em;
}
.m-auto {
  margin: auto;
}
.m-px {
  margin: 1px;
}
.m-0\.5 {
  margin: 0.125em;
}
.m-1\.5 {
  margin: 0.375em;
}
.m-2\.5 {
  margin: 0.625em;
}
.m-3\.5 {
  margin: 0.875em;
}
.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.mx-1 {
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.mx-2 {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.mx-3 {
  margin-left: 0;
  margin-right: 0;
}
.mx-4 {
  margin-left: 1em;
  margin-right: 1em;
}
.mx-5 {
  margin-left: 1.25em;
  margin-right: 1.25em;
}
.mx-6 {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.mx-7 {
  margin-left: 1;
  margin-right: 1;
}
.mx-8 {
  margin-left: 2em;
  margin-right: 2em;
}
.mx-9 {
  margin-left: 2.25em;
  margin-right: 2.25em;
}
.mx-10 {
  margin-left: 2.5em;
  margin-right: 2.5em;
}
.mx-11 {
  margin-left: 2;
  margin-right: 2;
}
.mx-12 {
  margin-left: 3em;
  margin-right: 3em;
}
.mx-14 {
  margin-left: 3.5em;
  margin-right: 3.5em;
}
.mx-16 {
  margin-left: 4em;
  margin-right: 4em;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mx-px {
  margin-left: 1px;
  margin-right: 1px;
}
.mx-0\.5 {
  margin-left: 0.125em;
  margin-right: 0.125em;
}
.mx-1\.5 {
  margin-left: 0.375em;
  margin-right: 0.375em;
}
.mx-2\.5 {
  margin-left: 0.625em;
  margin-right: 0.625em;
}
.mx-3\.5 {
  margin-left: 0.875em;
  margin-right: 0.875em;
}
.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.my-1 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.my-2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.my-3 {
  margin-top: 0;
  margin-bottom: 0;
}
.my-4 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.my-5 {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.my-6 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.my-7 {
  margin-top: 1;
  margin-bottom: 1;
}
.my-8 {
  margin-top: 2em;
  margin-bottom: 2em;
}
.my-9 {
  margin-top: 2.25em;
  margin-bottom: 2.25em;
}
.my-10 {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}
.my-11 {
  margin-top: 2;
  margin-bottom: 2;
}
.my-12 {
  margin-top: 3em;
  margin-bottom: 3em;
}
.my-14 {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}
.my-16 {
  margin-top: 4em;
  margin-bottom: 4em;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.my-px {
  margin-top: 1px;
  margin-bottom: 1px;
}
.my-0\.5 {
  margin-top: 0.125em;
  margin-bottom: 0.125em;
}
.my-1\.5 {
  margin-top: 0.375em;
  margin-bottom: 0.375em;
}
.my-2\.5 {
  margin-top: 0.625em;
  margin-bottom: 0.625em;
}
.my-3\.5 {
  margin-top: 0.875em;
  margin-bottom: 0.875em;
}
.mt-0 {
  margin-top: 0px;
}
.mt-1 {
  margin-top: 0.25em;
}
.mt-2 {
  margin-top: 0.5em;
}
.mt-3 {
  margin-top: 0;
}
.mt-4 {
  margin-top: 1em;
}
.mt-5 {
  margin-top: 1.25em;
}
.mt-6 {
  margin-top: 1.5em;
}
.mt-7 {
  margin-top: 1;
}
.mt-8 {
  margin-top: 2em;
}
.mt-9 {
  margin-top: 2.25em;
}
.mt-10 {
  margin-top: 2.5em;
}
.mt-11 {
  margin-top: 2;
}
.mt-12 {
  margin-top: 3em;
}
.mt-14 {
  margin-top: 3.5em;
}
.mt-16 {
  margin-top: 4em;
}
.mt-auto {
  margin-top: auto;
}
.mt-px {
  margin-top: 1px;
}
.mt-0\.5 {
  margin-top: 0.125em;
}
.mt-1\.5 {
  margin-top: 0.375em;
}
.mt-2\.5 {
  margin-top: 0.625em;
}
.mt-3\.5 {
  margin-top: 0.875em;
}
.mr-0 {
  margin-right: 0px;
}
.mr-1 {
  margin-right: 0.25em;
}
.mr-2 {
  margin-right: 0.5em;
}
.mr-3 {
  margin-right: 0;
}
.mr-4 {
  margin-right: 1em;
}
.mr-5 {
  margin-right: 1.25em;
}
.mr-6 {
  margin-right: 1.5em;
}
.mr-7 {
  margin-right: 1;
}
.mr-8 {
  margin-right: 2em;
}
.mr-9 {
  margin-right: 2.25em;
}
.mr-10 {
  margin-right: 2.5em;
}
.mr-11 {
  margin-right: 2;
}
.mr-12 {
  margin-right: 3em;
}
.mr-14 {
  margin-right: 3.5em;
}
.mr-16 {
  margin-right: 4em;
}
.mr-auto {
  margin-right: auto;
}
.mr-px {
  margin-right: 1px;
}
.mr-0\.5 {
  margin-right: 0.125em;
}
.mr-1\.5 {
  margin-right: 0.375em;
}
.mr-2\.5 {
  margin-right: 0.625em;
}
.mr-3\.5 {
  margin-right: 0.875em;
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-1 {
  margin-bottom: 0.25em;
}
.mb-2 {
  margin-bottom: 0.5em;
}
.mb-3 {
  margin-bottom: 0;
}
.mb-4 {
  margin-bottom: 1em;
}
.mb-5 {
  margin-bottom: 1.25em;
}
.mb-6 {
  margin-bottom: 1.5em;
}
.mb-7 {
  margin-bottom: 1;
}
.mb-8 {
  margin-bottom: 2em;
}
.mb-9 {
  margin-bottom: 2.25em;
}
.mb-10 {
  margin-bottom: 2.5em;
}
.mb-11 {
  margin-bottom: 2;
}
.mb-12 {
  margin-bottom: 3em;
}
.mb-14 {
  margin-bottom: 3.5em;
}
.mb-16 {
  margin-bottom: 4em;
}
.mb-auto {
  margin-bottom: auto;
}
.mb-px {
  margin-bottom: 1px;
}
.mb-0\.5 {
  margin-bottom: 0.125em;
}
.mb-1\.5 {
  margin-bottom: 0.375em;
}
.mb-2\.5 {
  margin-bottom: 0.625em;
}
.mb-3\.5 {
  margin-bottom: 0.875em;
}
.ml-0 {
  margin-left: 0px;
}
.ml-1 {
  margin-left: 0.25em;
}
.ml-2 {
  margin-left: 0.5em;
}
.ml-3 {
  margin-left: 0;
}
.ml-4 {
  margin-left: 1em;
}
.ml-5 {
  margin-left: 1.25em;
}
.ml-6 {
  margin-left: 1.5em;
}
.ml-7 {
  margin-left: 1;
}
.ml-8 {
  margin-left: 2em;
}
.ml-9 {
  margin-left: 2.25em;
}
.ml-10 {
  margin-left: 2.5em;
}
.ml-11 {
  margin-left: 2;
}
.ml-12 {
  margin-left: 3em;
}
.ml-14 {
  margin-left: 3.5em;
}
.ml-16 {
  margin-left: 4em;
}
.ml-auto {
  margin-left: auto;
}
.ml-px {
  margin-left: 1px;
}
.ml-0\.5 {
  margin-left: 0.125em;
}
.ml-1\.5 {
  margin-left: 0.375em;
}
.ml-2\.5 {
  margin-left: 0.625em;
}
.ml-3\.5 {
  margin-left: 0.875em;
}
.box-border {
  box-sizing: border-box;
}
.box-content {
  box-sizing: content-box;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.table {
  display: table;
}
.inline-table {
  display: inline-table;
}
.table-caption {
  display: table-caption;
}
.table-cell {
  display: table-cell;
}
.table-column {
  display: table-column;
}
.table-column-group {
  display: table-column-group;
}
.table-footer-group {
  display: table-footer-group;
}
.table-header-group {
  display: table-header-group;
}
.table-row-group {
  display: table-row-group;
}
.table-row {
  display: table-row;
}
.flow-root {
  display: flow-root;
}
.grid {
  display: grid;
}
.inline-grid {
  display: inline-grid;
}
.contents {
  display: contents;
}
.list-item {
  display: list-item;
}
.hidden {
  display: none;
}
.h-0 {
  height: 0px;
}
.h-1 {
  height: 0.25em;
}
.h-2 {
  height: 0.5em;
}
.h-3 {
  height: 0;
}
.h-4 {
  height: 1em;
}
.h-5 {
  height: 1.25em;
}
.h-6 {
  height: 1.5em;
}
.h-7 {
  height: 1;
}
.h-8 {
  height: 2em;
}
.h-9 {
  height: 2.25em;
}
.h-10 {
  height: 2.5em;
}
.h-11 {
  height: 2;
}
.h-12 {
  height: 3em;
}
.h-14 {
  height: 3.5em;
}
.h-16 {
  height: 4em;
}
.h-auto {
  height: auto;
}
.h-px {
  height: 1px;
}
.h-0\.5 {
  height: 0.125em;
}
.h-1\.5 {
  height: 0.375em;
}
.h-2\.5 {
  height: 0.625em;
}
.h-3\.5 {
  height: 0.875em;
}
.h-1\/2 {
  height: 50%;
}
.h-1\/3 {
  height: 33.333333%;
}
.h-2\/3 {
  height: 66.666667%;
}
.h-1\/4 {
  height: 25%;
}
.h-2\/4 {
  height: 50%;
}
.h-3\/4 {
  height: 75%;
}
.h-1\/5 {
  height: 20%;
}
.h-2\/5 {
  height: 40%;
}
.h-3\/5 {
  height: 60%;
}
.h-4\/5 {
  height: 80%;
}
.h-1\/6 {
  height: 16.666667%;
}
.h-2\/6 {
  height: 33.333333%;
}
.h-3\/6 {
  height: 50%;
}
.h-4\/6 {
  height: 66.666667%;
}
.h-5\/6 {
  height: 83.333333%;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.max-h-0 {
  max-height: 0px;
}
.max-h-1 {
  max-height: 0.25em;
}
.max-h-2 {
  max-height: 0.5em;
}
.max-h-3 {
  max-height: 0;
}
.max-h-4 {
  max-height: 1em;
}
.max-h-5 {
  max-height: 1.25em;
}
.max-h-6 {
  max-height: 1.5em;
}
.max-h-7 {
  max-height: 1;
}
.max-h-8 {
  max-height: 2em;
}
.max-h-9 {
  max-height: 2.25em;
}
.max-h-10 {
  max-height: 2.5em;
}
.max-h-11 {
  max-height: 2;
}
.max-h-12 {
  max-height: 3em;
}
.max-h-14 {
  max-height: 3.5em;
}
.max-h-16 {
  max-height: 4em;
}
.max-h-0\.5 {
  max-height: 0.125em;
}
.max-h-1\.5 {
  max-height: 0.375em;
}
.max-h-2\.5 {
  max-height: 0.625em;
}
.max-h-3\.5 {
  max-height: 0.875em;
}
.max-h-full {
  max-height: 100%;
}
.max-h-screen {
  max-height: 100vh;
}
.min-h-0 {
  min-height: 0px;
}
.min-h-full {
  min-height: 100%;
}
.min-h-screen {
  min-height: 100vh;
}
.w-0 {
  width: 0px;
}
.w-1 {
  width: 0.25em;
}
.w-2 {
  width: 0.5em;
}
.w-3 {
  width: 0;
}
.w-4 {
  width: 1em;
}
.w-5 {
  width: 1.25em;
}
.w-6 {
  width: 1.5em;
}
.w-7 {
  width: 1;
}
.w-8 {
  width: 2em;
}
.w-9 {
  width: 2.25em;
}
.w-10 {
  width: 2.5em;
}
.w-11 {
  width: 2;
}
.w-12 {
  width: 3em;
}
.w-14 {
  width: 3.5em;
}
.w-16 {
  width: 4em;
}
.w-auto {
  width: auto;
}
.w-px {
  width: 1px;
}
.w-0\.5 {
  width: 0.125em;
}
.w-1\.5 {
  width: 0.375em;
}
.w-2\.5 {
  width: 0.625em;
}
.w-3\.5 {
  width: 0.875em;
}
.w-1\/2 {
  width: 50%;
}
.w-1\/3 {
  width: 33.333333%;
}
.w-2\/3 {
  width: 66.666667%;
}
.w-1\/4 {
  width: 25%;
}
.w-2\/4 {
  width: 50%;
}
.w-3\/4 {
  width: 75%;
}
.w-1\/5 {
  width: 20%;
}
.w-2\/5 {
  width: 40%;
}
.w-3\/5 {
  width: 60%;
}
.w-4\/5 {
  width: 80%;
}
.w-1\/6 {
  width: 16.666667%;
}
.w-2\/6 {
  width: 33.333333%;
}
.w-3\/6 {
  width: 50%;
}
.w-4\/6 {
  width: 66.666667%;
}
.w-5\/6 {
  width: 83.333333%;
}
.w-1\/12 {
  width: 8.333333%;
}
.w-2\/12 {
  width: 16.666667%;
}
.w-3\/12 {
  width: 25%;
}
.w-4\/12 {
  width: 33.333333%;
}
.w-5\/12 {
  width: 41.666667%;
}
.w-6\/12 {
  width: 50%;
}
.w-7\/12 {
  width: 58.333333%;
}
.w-8\/12 {
  width: 66.666667%;
}
.w-9\/12 {
  width: 75%;
}
.w-10\/12 {
  width: 83.333333%;
}
.w-11\/12 {
  width: 91.666667%;
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.w-min {
  width: min-content;
}
.w-max {
  width: max-content;
}
.min-w-0 {
  min-width: 0px;
}
.min-w-full {
  min-width: 100%;
}
.min-w-min {
  min-width: min-content;
}
.min-w-max {
  min-width: max-content;
}
.max-w-0 {
  max-width: 0em;
}
.max-w-none {
  max-width: none;
}
.max-w-xs {
  max-width: 20em;
}
.max-w-sm {
  max-width: 24em;
}
.max-w-md {
  max-width: 28em;
}
.max-w-lg {
  max-width: 32em;
}
.max-w-xl {
  max-width: 36em;
}
.max-w-full {
  max-width: 100%;
}
.max-w-min {
  max-width: min-content;
}
.max-w-max {
  max-width: max-content;
}
.max-w-prose {
  max-width: 65ch;
}
.max-w-screen-sm {
  max-width: 640px;
}
.max-w-screen-md {
  max-width: 768px;
}
.max-w-screen-lg {
  max-width: 1024px;
}
.max-w-screen-xl {
  max-width: 1280px;
}
.max-w-screen-2xl {
  max-width: 1536px;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-initial {
  flex: 0 1 auto;
}
.flex-none {
  flex: none;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-grow-0 {
  flex-grow: 0;
}
.flex-grow {
  flex-grow: 1;
}
.table-auto {
  table-layout: auto;
}
.table-fixed {
  table-layout: fixed;
}
.border-collapse {
  border-collapse: collapse;
}
.border-separate {
  border-collapse: separate;
}
.origin-center {
  transform-origin: center;
}
.origin-top {
  transform-origin: top;
}
.origin-top-right {
  transform-origin: top right;
}
.origin-right {
  transform-origin: right;
}
.origin-bottom-right {
  transform-origin: bottom right;
}
.origin-bottom {
  transform-origin: bottom;
}
.origin-bottom-left {
  transform-origin: bottom left;
}
.origin-left {
  transform-origin: left;
}
.origin-top-left {
  transform-origin: top left;
}
.animate-none {
  animation: none;
}
.animate-spin {
  animation: spin 1s linear infinite;
}
.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.animate-bounce {
  animation: bounce 1s infinite;
}
.cursor-auto {
  cursor: auto;
}
.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-wait {
  cursor: wait;
}
.cursor-text {
  cursor: text;
}
.cursor-move {
  cursor: move;
}
.cursor-help {
  cursor: help;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.select-none {
  -webkit-user-select: none;
  user-select: none;
}
.select-text {
  -webkit-user-select: text;
  user-select: text;
}
.select-all {
  -webkit-user-select: all;
  user-select: all;
}
.select-auto {
  -webkit-user-select: auto;
  user-select: auto;
}
.resize-none {
  resize: none;
}
.resize-y {
  resize: vertical;
}
.resize-x {
  resize: horizontal;
}
.resize {
  resize: both;
}
.list-inside {
  list-style-position: inside;
}
.list-outside {
  list-style-position: outside;
}
.list-none {
  list-style-type: none;
}
.list-disc {
  list-style-type: disc;
}
.list-decimal {
  list-style-type: decimal;
}
.appearance-none {
  -webkit-appearance: none;
  appearance: none;
}
.auto-cols-auto {
  grid-auto-columns: auto;
}
.auto-cols-min {
  grid-auto-columns: min-content;
}
.auto-cols-max {
  grid-auto-columns: max-content;
}
.auto-cols-fr {
  grid-auto-columns: minmax(0, 1fr);
}
.grid-flow-row {
  grid-auto-flow: row;
}
.grid-flow-col {
  grid-auto-flow: column;
}
.grid-flow-row-dense {
  grid-auto-flow: row dense;
}
.grid-flow-col-dense {
  grid-auto-flow: column dense;
}
.auto-rows-auto {
  grid-auto-rows: auto;
}
.auto-rows-min {
  grid-auto-rows: min-content;
}
.auto-rows-max {
  grid-auto-rows: max-content;
}
.auto-rows-fr {
  grid-auto-rows: minmax(0, 1fr);
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}
.grid-cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}
.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}
.grid-cols-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}
.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.grid-cols-none {
  grid-template-columns: none;
}
.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}
.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}
.grid-rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}
.grid-rows-4 {
  grid-template-rows: repeat(4, minmax(0, 1fr));
}
.grid-rows-5 {
  grid-template-rows: repeat(5, minmax(0, 1fr));
}
.grid-rows-6 {
  grid-template-rows: repeat(6, minmax(0, 1fr));
}
.grid-rows-none {
  grid-template-rows: none;
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.place-content-center {
  place-content: center;
}
.place-content-start {
  place-content: start;
}
.place-content-end {
  place-content: end;
}
.place-content-between {
  place-content: space-between;
}
.place-content-around {
  place-content: space-around;
}
.place-content-evenly {
  place-content: space-evenly;
}
.place-content-stretch {
  place-content: stretch;
}
.place-items-start {
  place-items: start;
}
.place-items-end {
  place-items: end;
}
.place-items-center {
  place-items: center;
}
.place-items-stretch {
  place-items: stretch;
}
.content-center {
  align-content: center;
}
.content-start {
  align-content: flex-start;
}
.content-end {
  align-content: flex-end;
}
.content-between {
  align-content: space-between;
}
.content-around {
  align-content: space-around;
}
.content-evenly {
  align-content: space-evenly;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-stretch {
  align-items: stretch;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-items-start {
  justify-items: start;
}
.justify-items-end {
  justify-items: end;
}
.justify-items-center {
  justify-items: center;
}
.justify-items-stretch {
  justify-items: stretch;
}
.gap-0 {
  gap: 0px;
}
.gap-1 {
  gap: 0.25em;
}
.gap-2 {
  gap: 0.5em;
}
.gap-3 {
  gap: 0;
}
.gap-4 {
  gap: 1em;
}
.gap-5 {
  gap: 1.25em;
}
.gap-6 {
  gap: 1.5em;
}
.gap-7 {
  gap: 1;
}
.gap-8 {
  gap: 2em;
}
.gap-9 {
  gap: 2.25em;
}
.gap-10 {
  gap: 2.5em;
}
.gap-11 {
  gap: 2;
}
.gap-12 {
  gap: 3em;
}
.gap-14 {
  gap: 3.5em;
}
.gap-16 {
  gap: 4em;
}
.gap-px {
  gap: 1px;
}
.gap-0\.5 {
  gap: 0.125em;
}
.gap-1\.5 {
  gap: 0.375em;
}
.gap-2\.5 {
  gap: 0.625em;
}
.gap-3\.5 {
  gap: 0.875em;
}
.gap-x-0 {
  column-gap: 0px;
}
.gap-x-1 {
  column-gap: 0.25em;
}
.gap-x-2 {
  column-gap: 0.5em;
}
.gap-x-3 {
  column-gap: 0;
}
.gap-x-4 {
  column-gap: 1em;
}
.gap-x-5 {
  column-gap: 1.25em;
}
.gap-x-6 {
  column-gap: 1.5em;
}
.gap-x-7 {
  column-gap: 1;
}
.gap-x-8 {
  column-gap: 2em;
}
.gap-x-9 {
  column-gap: 2.25em;
}
.gap-x-10 {
  column-gap: 2.5em;
}
.gap-x-11 {
  column-gap: 2;
}
.gap-x-12 {
  column-gap: 3em;
}
.gap-x-14 {
  column-gap: 3.5em;
}
.gap-x-16 {
  column-gap: 4em;
}
.gap-x-px {
  column-gap: 1px;
}
.gap-x-0\.5 {
  column-gap: 0.125em;
}
.gap-x-1\.5 {
  column-gap: 0.375em;
}
.gap-x-2\.5 {
  column-gap: 0.625em;
}
.gap-x-3\.5 {
  column-gap: 0.875em;
}
.gap-y-0 {
  row-gap: 0px;
}
.gap-y-1 {
  row-gap: 0.25em;
}
.gap-y-2 {
  row-gap: 0.5em;
}
.gap-y-3 {
  row-gap: 0;
}
.gap-y-4 {
  row-gap: 1em;
}
.gap-y-5 {
  row-gap: 1.25em;
}
.gap-y-6 {
  row-gap: 1.5em;
}
.gap-y-7 {
  row-gap: 1;
}
.gap-y-8 {
  row-gap: 2em;
}
.gap-y-9 {
  row-gap: 2.25em;
}
.gap-y-10 {
  row-gap: 2.5em;
}
.gap-y-11 {
  row-gap: 2;
}
.gap-y-12 {
  row-gap: 3em;
}
.gap-y-14 {
  row-gap: 3.5em;
}
.gap-y-16 {
  row-gap: 4em;
}
.gap-y-px {
  row-gap: 1px;
}
.gap-y-0\.5 {
  row-gap: 0.125em;
}
.gap-y-1\.5 {
  row-gap: 0.375em;
}
.gap-y-2\.5 {
  row-gap: 0.625em;
}
.gap-y-3\.5 {
  row-gap: 0.875em;
}
.place-self-auto {
  place-self: auto;
}
.place-self-start {
  place-self: start;
}
.place-self-end {
  place-self: end;
}
.place-self-center {
  place-self: center;
}
.place-self-stretch {
  place-self: stretch;
}
.self-auto {
  align-self: auto;
}
.self-start {
  align-self: flex-start;
}
.self-end {
  align-self: flex-end;
}
.self-center {
  align-self: center;
}
.self-stretch {
  align-self: stretch;
}
.self-baseline {
  align-self: baseline;
}
.justify-self-auto {
  justify-self: auto;
}
.justify-self-start {
  justify-self: start;
}
.justify-self-end {
  justify-self: end;
}
.justify-self-center {
  justify-self: center;
}
.justify-self-stretch {
  justify-self: stretch;
}
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-visible {
  overflow: visible;
}
.overflow-scroll {
  overflow: scroll;
}
.overflow-x-auto {
  overflow-x: auto;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.overflow-x-visible {
  overflow-x: visible;
}
.overflow-y-visible {
  overflow-y: visible;
}
.overflow-x-scroll {
  overflow-x: scroll;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
.overscroll-auto {
  overscroll-behavior: auto;
}
.overscroll-contain {
  overscroll-behavior: contain;
}
.overscroll-none {
  overscroll-behavior: none;
}
.overscroll-y-auto {
  overscroll-behavior-y: auto;
}
.overscroll-y-contain {
  overscroll-behavior-y: contain;
}
.overscroll-y-none {
  overscroll-behavior-y: none;
}
.overscroll-x-auto {
  overscroll-behavior-x: auto;
}
.overscroll-x-contain {
  overscroll-behavior-x: contain;
}
.overscroll-x-none {
  overscroll-behavior-x: none;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.overflow-ellipsis {
  text-overflow: ellipsis;
}
.overflow-clip {
  text-overflow: clip;
}
.whitespace-normal {
  white-space: normal;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.whitespace-pre {
  white-space: pre;
}
.whitespace-pre-line {
  white-space: pre-line;
}
.whitespace-pre-wrap {
  white-space: pre-wrap;
}
.break-normal {
  overflow-wrap: normal;
  word-break: normal;
}
.break-words {
  overflow-wrap: break-word;
}
.break-all {
  word-break: break-all;
}
.rounded-none {
  border-radius: 0px;
}
.rounded-sm {
  border-radius: 0.125em;
}
.rounded {
  border-radius: 0.25em;
}
.rounded-md {
  border-radius: 0.375em;
}
.rounded-lg {
  border-radius: 0.5em;
}
.rounded-xl {
  border-radius: 0;
}
.rounded-2xl {
  border-radius: 1em;
}
.rounded-3xl {
  border-radius: 1.5em;
}
.rounded-full {
  border-radius: 9999px;
}
.border-0 {
  border-width: 0px;
}
.border-2 {
  border-width: 2px;
}
.border-4 {
  border-width: 4px;
}
.border-8 {
  border-width: 8px;
}
.border {
  border-width: 1px;
}
.border-t-0 {
  border-top-width: 0px;
}
.border-t-2 {
  border-top-width: 2px;
}
.border-t-4 {
  border-top-width: 4px;
}
.border-t-8 {
  border-top-width: 8px;
}
.border-t {
  border-top-width: 1px;
}
.border-r-0 {
  border-right-width: 0px;
}
.border-r-2 {
  border-right-width: 2px;
}
.border-r-4 {
  border-right-width: 4px;
}
.border-r-8 {
  border-right-width: 8px;
}
.border-r {
  border-right-width: 1px;
}
.border-b-0 {
  border-bottom-width: 0px;
}
.border-b-2 {
  border-bottom-width: 2px;
}
.border-b-4 {
  border-bottom-width: 4px;
}
.border-b-8 {
  border-bottom-width: 8px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-l-0 {
  border-left-width: 0px;
}
.border-l-2 {
  border-left-width: 2px;
}
.border-l-4 {
  border-left-width: 4px;
}
.border-l-8 {
  border-left-width: 8px;
}
.border-l {
  border-left-width: 1px;
}
.border-solid {
  border-style: solid;
}
.border-dashed {
  border-style: dashed;
}
.border-dotted {
  border-style: dotted;
}
.border-double {
  border-style: double;
}
.border-none {
  border-style: none;
}
.border-transparent {
  border-color: transparent;
}
.border-current {
  border-color: currentColor;
}
.border-black {
  --tw-border-opacity: 1;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}
.border-white {
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.bg-transparent {
  background-color: transparent;
}
.bg-current {
  background-color: currentColor;
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.decoration-slice {
  -webkit-box-decoration-break: slice;
  box-decoration-break: slice;
}
.decoration-clone {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.bg-auto {
  background-size: auto;
}
.bg-cover {
  background-size: cover;
}
.bg-contain {
  background-size: contain;
}
.bg-fixed {
  background-attachment: fixed;
}
.bg-local {
  background-attachment: local;
}
.bg-scroll {
  background-attachment: scroll;
}
.bg-clip-border {
  background-clip: border-box;
}
.bg-clip-padding {
  background-clip: padding-box;
}
.bg-clip-content {
  background-clip: content-box;
}
.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}
.bg-bottom {
  background-position: bottom;
}
.bg-center {
  background-position: center;
}
.bg-left {
  background-position: left;
}
.bg-left-bottom {
  background-position: left bottom;
}
.bg-left-top {
  background-position: left top;
}
.bg-right {
  background-position: right;
}
.bg-right-bottom {
  background-position: right bottom;
}
.bg-right-top {
  background-position: right top;
}
.bg-top {
  background-position: top;
}
.bg-repeat {
  background-repeat: repeat;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.bg-repeat-x {
  background-repeat: repeat-x;
}
.bg-repeat-y {
  background-repeat: repeat-y;
}
.bg-repeat-round {
  background-repeat: round;
}
.bg-repeat-space {
  background-repeat: space;
}
.bg-origin-border {
  background-origin: border-box;
}
.bg-origin-padding {
  background-origin: padding-box;
}
.bg-origin-content {
  background-origin: content-box;
}
.fill-current {
  fill: currentColor;
}
.stroke-current {
  stroke: currentColor;
}
.stroke-0 {
  stroke-width: 0;
}
.stroke-1 {
  stroke-width: 1;
}
.stroke-2 {
  stroke-width: 2;
}
.object-contain {
  object-fit: contain;
}
.object-cover {
  object-fit: cover;
}
.object-fill {
  object-fit: fill;
}
.object-none {
  object-fit: none;
}
.object-scale-down {
  object-fit: scale-down;
}
.object-bottom {
  object-position: bottom;
}
.object-center {
  object-position: center;
}
.object-left {
  object-position: left;
}
.object-left-bottom {
  object-position: left bottom;
}
.object-left-top {
  object-position: left top;
}
.object-right {
  object-position: right;
}
.object-right-bottom {
  object-position: right bottom;
}
.object-right-top {
  object-position: right top;
}
.object-top {
  object-position: top;
}
.p-0 {
  padding: 0px;
}
.p-1 {
  padding: 0.25em;
}
.p-2 {
  padding: 0.5em;
}
.p-3 {
  padding: 0;
}
.p-4 {
  padding: 1em;
}
.p-5 {
  padding: 1.25em;
}
.p-6 {
  padding: 1.5em;
}
.p-7 {
  padding: 1;
}
.p-8 {
  padding: 2em;
}
.p-9 {
  padding: 2.25em;
}
.p-10 {
  padding: 2.5em;
}
.p-11 {
  padding: 2;
}
.p-12 {
  padding: 3em;
}
.p-14 {
  padding: 3.5em;
}
.p-16 {
  padding: 4em;
}
.p-px {
  padding: 1px;
}
.p-0\.5 {
  padding: 0.125em;
}
.p-1\.5 {
  padding: 0.375em;
}
.p-2\.5 {
  padding: 0.625em;
}
.p-3\.5 {
  padding: 0.875em;
}
.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.px-1 {
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.px-2 {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.px-3 {
  padding-left: 0;
  padding-right: 0;
}
.px-4 {
  padding-left: 1em;
  padding-right: 1em;
}
.px-5 {
  padding-left: 1.25em;
  padding-right: 1.25em;
}
.px-6 {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.px-7 {
  padding-left: 1;
  padding-right: 1;
}
.px-8 {
  padding-left: 2em;
  padding-right: 2em;
}
.px-9 {
  padding-left: 2.25em;
  padding-right: 2.25em;
}
.px-10 {
  padding-left: 2.5em;
  padding-right: 2.5em;
}
.px-11 {
  padding-left: 2;
  padding-right: 2;
}
.px-12 {
  padding-left: 3em;
  padding-right: 3em;
}
.px-14 {
  padding-left: 3.5em;
  padding-right: 3.5em;
}
.px-16 {
  padding-left: 4em;
  padding-right: 4em;
}
.px-px {
  padding-left: 1px;
  padding-right: 1px;
}
.px-0\.5 {
  padding-left: 0.125em;
  padding-right: 0.125em;
}
.px-1\.5 {
  padding-left: 0.375em;
  padding-right: 0.375em;
}
.px-2\.5 {
  padding-left: 0.625em;
  padding-right: 0.625em;
}
.px-3\.5 {
  padding-left: 0.875em;
  padding-right: 0.875em;
}
.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.py-1 {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.py-2 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.py-3 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-4 {
  padding-top: 1em;
  padding-bottom: 1em;
}
.py-5 {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
.py-6 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.py-7 {
  padding-top: 1;
  padding-bottom: 1;
}
.py-8 {
  padding-top: 2em;
  padding-bottom: 2em;
}
.py-9 {
  padding-top: 2.25em;
  padding-bottom: 2.25em;
}
.py-10 {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.py-11 {
  padding-top: 2;
  padding-bottom: 2;
}
.py-12 {
  padding-top: 3em;
  padding-bottom: 3em;
}
.py-14 {
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}
.py-16 {
  padding-top: 4em;
  padding-bottom: 4em;
}
.py-px {
  padding-top: 1px;
  padding-bottom: 1px;
}
.py-0\.5 {
  padding-top: 0.125em;
  padding-bottom: 0.125em;
}
.py-1\.5 {
  padding-top: 0.375em;
  padding-bottom: 0.375em;
}
.py-2\.5 {
  padding-top: 0.625em;
  padding-bottom: 0.625em;
}
.py-3\.5 {
  padding-top: 0.875em;
  padding-bottom: 0.875em;
}
.pt-0 {
  padding-top: 0px;
}
.pt-1 {
  padding-top: 0.25em;
}
.pt-2 {
  padding-top: 0.5em;
}
.pt-3 {
  padding-top: 0;
}
.pt-4 {
  padding-top: 1em;
}
.pt-5 {
  padding-top: 1.25em;
}
.pt-6 {
  padding-top: 1.5em;
}
.pt-7 {
  padding-top: 1;
}
.pt-8 {
  padding-top: 2em;
}
.pt-9 {
  padding-top: 2.25em;
}
.pt-10 {
  padding-top: 2.5em;
}
.pt-11 {
  padding-top: 2;
}
.pt-12 {
  padding-top: 3em;
}
.pt-14 {
  padding-top: 3.5em;
}
.pt-16 {
  padding-top: 4em;
}
.pt-px {
  padding-top: 1px;
}
.pt-0\.5 {
  padding-top: 0.125em;
}
.pt-1\.5 {
  padding-top: 0.375em;
}
.pt-2\.5 {
  padding-top: 0.625em;
}
.pt-3\.5 {
  padding-top: 0.875em;
}
.pr-0 {
  padding-right: 0px;
}
.pr-1 {
  padding-right: 0.25em;
}
.pr-2 {
  padding-right: 0.5em;
}
.pr-3 {
  padding-right: 0;
}
.pr-4 {
  padding-right: 1em;
}
.pr-5 {
  padding-right: 1.25em;
}
.pr-6 {
  padding-right: 1.5em;
}
.pr-7 {
  padding-right: 1;
}
.pr-8 {
  padding-right: 2em;
}
.pr-9 {
  padding-right: 2.25em;
}
.pr-10 {
  padding-right: 2.5em;
}
.pr-11 {
  padding-right: 2;
}
.pr-12 {
  padding-right: 3em;
}
.pr-14 {
  padding-right: 3.5em;
}
.pr-16 {
  padding-right: 4em;
}
.pr-px {
  padding-right: 1px;
}
.pr-0\.5 {
  padding-right: 0.125em;
}
.pr-1\.5 {
  padding-right: 0.375em;
}
.pr-2\.5 {
  padding-right: 0.625em;
}
.pr-3\.5 {
  padding-right: 0.875em;
}
.pb-0 {
  padding-bottom: 0px;
}
.pb-1 {
  padding-bottom: 0.25em;
}
.pb-2 {
  padding-bottom: 0.5em;
}
.pb-3 {
  padding-bottom: 0;
}
.pb-4 {
  padding-bottom: 1em;
}
.pb-5 {
  padding-bottom: 1.25em;
}
.pb-6 {
  padding-bottom: 1.5em;
}
.pb-7 {
  padding-bottom: 1;
}
.pb-8 {
  padding-bottom: 2em;
}
.pb-9 {
  padding-bottom: 2.25em;
}
.pb-10 {
  padding-bottom: 2.5em;
}
.pb-11 {
  padding-bottom: 2;
}
.pb-12 {
  padding-bottom: 3em;
}
.pb-14 {
  padding-bottom: 3.5em;
}
.pb-16 {
  padding-bottom: 4em;
}
.pb-px {
  padding-bottom: 1px;
}
.pb-0\.5 {
  padding-bottom: 0.125em;
}
.pb-1\.5 {
  padding-bottom: 0.375em;
}
.pb-2\.5 {
  padding-bottom: 0.625em;
}
.pb-3\.5 {
  padding-bottom: 0.875em;
}
.pl-0 {
  padding-left: 0px;
}
.pl-1 {
  padding-left: 0.25em;
}
.pl-2 {
  padding-left: 0.5em;
}
.pl-3 {
  padding-left: 0;
}
.pl-4 {
  padding-left: 1em;
}
.pl-5 {
  padding-left: 1.25em;
}
.pl-6 {
  padding-left: 1.5em;
}
.pl-7 {
  padding-left: 1;
}
.pl-8 {
  padding-left: 2em;
}
.pl-9 {
  padding-left: 2.25em;
}
.pl-10 {
  padding-left: 2.5em;
}
.pl-11 {
  padding-left: 2;
}
.pl-12 {
  padding-left: 3em;
}
.pl-14 {
  padding-left: 3.5em;
}
.pl-16 {
  padding-left: 4em;
}
.pl-px {
  padding-left: 1px;
}
.pl-0\.5 {
  padding-left: 0.125em;
}
.pl-1\.5 {
  padding-left: 0.375em;
}
.pl-2\.5 {
  padding-left: 0.625em;
}
.pl-3\.5 {
  padding-left: 0.875em;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.align-baseline {
  vertical-align: baseline;
}
.align-top {
  vertical-align: top;
}
.align-middle {
  vertical-align: middle;
}
.align-bottom {
  vertical-align: bottom;
}
.align-text-top {
  vertical-align: text-top;
}
.align-text-bottom {
  vertical-align: text-bottom;
}
.font-sans {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}
.font-serif {
  font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}
.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}
.text-xs {
  font-size: 0;
  line-height: 1em;
}
.text-sm {
  font-size: 0.875em;
  line-height: 1.25em;
}
.text-base {
  font-size: 1em;
  line-height: 1.5em;
}
.text-lg {
  font-size: 1.125em;
  line-height: 1;
}
.text-xl {
  font-size: 1.25em;
  line-height: 1;
}
.text-2xl {
  font-size: 1.5em;
  line-height: 2em;
}
.text-3xl {
  font-size: 1.875em;
  line-height: 2.25em;
}
.text-4xl {
  font-size: 2.25em;
  line-height: 2.5em;
}
.text-5xl {
  font-size: 3em;
  line-height: 1;
}
.text-6xl {
  font-size: 3;
  line-height: 1;
}
.text-7xl {
  font-size: 4.5em;
  line-height: 1;
}
.text-8xl {
  font-size: 6em;
  line-height: 1;
}
.text-9xl {
  font-size: 8em;
  line-height: 1;
}
.font-thin {
  font-weight: 100;
}
.font-extralight {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.font-black {
  font-weight: 900;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
.normal-case {
  text-transform: none;
}
.italic {
  font-style: italic;
}
.not-italic {
  font-style: normal;
}
.leading-3 {
  line-height: 0;
}
.leading-4 {
  line-height: 1em;
}
.leading-5 {
  line-height: 1.25em;
}
.leading-6 {
  line-height: 1.5em;
}
.leading-7 {
  line-height: 1;
}
.leading-8 {
  line-height: 2em;
}
.leading-9 {
  line-height: 2.25em;
}
.leading-10 {
  line-height: 2.5em;
}
.leading-none {
  line-height: 1;
}
.leading-tight {
  line-height: 1.25;
}
.leading-snug {
  line-height: 1.375;
}
.leading-normal {
  line-height: 1.5;
}
.leading-relaxed {
  line-height: 1.625;
}
.leading-loose {
  line-height: 2;
}
.tracking-tighter {
  letter-spacing: -0.05em;
}
.tracking-tight {
  letter-spacing: -0.025em;
}
.tracking-normal {
  letter-spacing: 0em;
}
.tracking-wide {
  letter-spacing: 0.025em;
}
.tracking-wider {
  letter-spacing: 0.05em;
}
.tracking-widest {
  letter-spacing: 0.1em;
}
.text-transparent {
  color: transparent;
}
.text-current {
  color: currentColor;
}
.text-black {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity)) !important;
}
.transition-none {
  transition-property: none;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition {
  transition-property:
    background-color,
    border-color,
    color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property:
    background-color,
    border-color,
    color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-shadow {
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.delay-75 {
  transition-delay: 75ms;
}
.delay-100 {
  transition-delay: 100ms;
}
.delay-150 {
  transition-delay: 150ms;
}
.delay-200 {
  transition-delay: 200ms;
}
.delay-300 {
  transition-delay: 300ms;
}
.delay-500 {
  transition-delay: 500ms;
}
.delay-700 {
  transition-delay: 700ms;
}
.delay-1000 {
  transition-delay: 1000ms;
}
.duration-75 {
  transition-duration: 75ms;
}
.duration-100 {
  transition-duration: 100ms;
}
.duration-150 {
  transition-duration: 150ms;
}
.duration-200 {
  transition-duration: 200ms;
}
.duration-300 {
  transition-duration: 300ms;
}
.duration-500 {
  transition-duration: 500ms;
}
.duration-700 {
  transition-duration: 700ms;
}
.duration-1000 {
  transition-duration: 1000ms;
}
.ease-linear {
  transition-timing-function: linear;
}
.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
